// Arrow Button
//
// Various arrow button styles.
//
// Markup: html/arrow-button.html
//
// .arrow-button--left - Arrow left.
// .arrow-button--left:disabled - Arrow left disabled.
// .arrow-button--right - Arrow right.
// .arrow-button--right:disabled - Arrow right disabled.
//
// Styleguide Atoms.Arrow Button

.arrow-button {
  position: relative;
  width: 35px;
  height: 35px;
  border: 0;
  background: none;

  @include tablet-up {
    width: 40px;
    height: 40px;
  }

  &::before {
    position: absolute;
    top: 0px;
    left: 0px;
    @include icon(35px);
    color: $white;

    @include tablet-up {
      font-size: 40px;
    }
  }

  &:hover {
    &:not([disabled]) {
      opacity: 0.75;
      cursor: pointer;
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.arrow-button--left {
  &::before {
    @extend %icon-chevron-left;
  }
}

.arrow-button--right {
  &::before {
    @extend %icon-chevron-right;
  }
}
