// Arrow Button
//
// Various arrow button styles.
//
// Markup: html/arrow-button.html
//
// .arrow-button--left - Arrow left.
// .arrow-button--left:disabled - Arrow left disabled.
// .arrow-button--right - Arrow right.
// .arrow-button--right:disabled - Arrow right disabled.
//
// Styleguide Atoms.Arrow Button

.arrow-button {
  position: relative;
  width: 35px;
  height: 35px;
  border: 0;
  background-color: $white;

  @include tablet-up {
    width: 40px;
    height: 40px;
  }

  &::before {
    position: absolute;
    top: calc(50% - 8px);
    color: $tealish;
  }

  &:hover {
    &:not([disabled]) {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

.arrow-button--left {
  &::before {
    @extend %icon-chevron-left;
    @include icon(16px);
    left: calc(50% - 9px);
  }
}

.arrow-button--right {
  &::before {
    @extend %icon-chevron-right;
    @include icon(16px);
    left: calc(50% - 7px);
  }
}
