// Arrow Button
//
// Various arrow button styles.
//
// Markup: html/arrow-button.html
//
// .arrow-button--left - Arrow left.
// .arrow-button--left:disabled - Arrow left disabled.
// .arrow-button--right - Arrow right.
// .arrow-button--right:disabled - Arrow right disabled.
//
// Styleguide Atoms.Arrow Button

.arrow-button {
  width: 35px;
  height: 35px;
  border: 0;
  background-color: $white;

  &::before {
    color: $tealish;
    font-family: $font-family-icons;
    @include font-size(24px);
    font-weight: 600;
  }

  &:hover {
    &:not([disabled]) {
      cursor: pointer;
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

.arrow-button--left {
  &::before {
    content: '\f104';
  }
}

.arrow-button--right {
  &::before {
    content: '\f105';
  }
}
