// Block Quote
//
// Markup: html/block-quote.html
//
// Styleguide Atoms.Block Quote

blockquote,
.blockquote {
  margin: 0px 0px 16px 0px;
  padding: 10px 0px 1px 36px;
  border-left: 3px solid $blueberry;
}
