// Buttons
//
// Various button styles.
//
// Markup: html/button.html
//
// :hover - When user hovers over button.
// :focus - When button is focused.
// .button--small - A small button.
// .button--large - A large button.
//
// Styleguide Components.button

.button {
  padding: 16px 32px;
  margin: 8px;
  display: inline-block;
  @include font-size(14.5px);
  font-weight: bold;
  text-transform: uppercase;
  color: $jade;
  background-color: $white;
  border: 2px solid $jade;
  transition: .2s color, .2s background-color, .2s border-color;
}

.button:hover {
  color: $white;
  background-color: $jade;
}

.button:focus {
  color: $blueberry;
  border-color: $jade;
  outline: none;
}

.button--small {
  @include font-size(8px);
}

.button--large {
  @include font-size(24px);
}
