// Buttons
//
// Various button styles.
//
// Markup: html: html/button.html
//
// :hover - When user hovers over button.
// :focus - When button is focused.
// .button--small - A small button.
// .button--large - A large button.
//
// Styleguide Components.button

.button {
  padding: 1em 2em;
  margin: .5em;
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  color: $jade;
  background-color: $white;
  border: 2px solid $jade;
  transition: .2s color, .2s background-color, .2s border-color;
}

.button:hover {
  color: $white;
  background-color: $jade;
}

.button:focus {
  color: $blueberry;
  border-color: $jade;
  outline: none;
}

.button--small {
  font-size: .5em;
}

.button--large {
  font-size: 1.5em;
}
