// Buttons
//
// Various button styles.
//
// Markup: html/button.html
//
// .button--primary - Primary color.
// .button--primary:hover - Primary color in hover state.
// .button--primary:focus - Primary color in focus state.
// .button--primary:disabled - Primary color in disabled state.
// .button--secondary - Secondary color.
// .button--secondary:hover - Secondary color in hover state.
// .button--secondary:focus - Secondary color in focus state.
// .button--secondary:disabled - Secondary color in disabled state.
// .button--tertiary - Tertiary color.
// .button--tertiary:hover - Tertiary color in hover state.
// .button--tertiary:focus - Tertiary color in focus state.
// .button--tertiary:disabled - Tertiary color in disabled state.
// .button--small - A small button.
// .button--large - A large button.
//
// Styleguide Atoms.Button

.button {
  display: inline-block;
  margin: 8px;
  padding: 16px 32px;
  transition: $transition-duration ease;
  transition-property: color, background-color, border-color;
  border: 2px solid $blueberry;
  border-radius: 5px;
  background-color: $blueberry;
  color: $white;
  @include font-size(14.5px);
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;

  &.button--long {
    @include word-break;
  }

  &:hover {
    &:not([disabled]) {
      border-color: darken($blueberry, 10%);
      background-color: darken($blueberry, 10%);
      text-decoration: none;
      cursor: pointer;
    }
  }

  &:focus {
    &:enabled {
      outline: none;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.button--small {
  @include font-size(8px);
}

.button--large {
  @include font-size(24px);
}

.button--primary {
  border-color: $blueberry;
  background-color: $blueberry;
  color: $white;

  &:hover {
    &:not([disabled]) {
      border-color: darken($blueberry, 10%);
      background-color: darken($blueberry, 10%);
    }
  }
}

.button--secondary {
  border-color: $blueberry;
  background-color: transparent;
  color: $blueberry;

  &:hover {
    &:not([disabled]) {
      border-color: darken($blueberry, 10%);
      background-color: transparent;
    }
  }
}

.button--tertiary {
  border-color: $white;
  background-color: transparent;
  color: $white;

  &:hover {
    &:not([disabled]) {
      border-color: $white;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.button--no-case {
  text-transform: none;
}
