// Button Container
//
// Various button container styles.
//
// Markup: html/button-container.html
//
// Styleguide Molecules.Button Container

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  .button {
    margin-right: 10px !important;
    margin-left: 0px !important;
  }

  @include phone-down {
    flex-direction: column;
    justify-content: stretch;

    .button {
      width: 100%;
      min-width: 180px;
      margin-right: 0px;
      margin-bottom: 10px !important;
      margin-left: 0px;
      text-align: center;
    }
  }

  &.button-container__center {
    justify-content: center;

    .button {
      margin-right: 5px !important;
      margin-left: 5px !important;
    }
  }

  &.button-container__right {
    justify-content: flex-end;

    .button {
      margin-right: 0px !important;
      margin-left: 10px !important;
    }
  }
}
