// Card
//
// Home page card styles.
//
// Markup: html/card.html
//
// Styleguide Molecules.Card


.card__link {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .text {
    color: $gunmetal-grey;
  }

  &:visited {
    color: $gunmetal-grey;
  }
}

.card__wrapper {
  width: 100%;
  display: flex;
}

.card__label {
  padding: 24px;
  width: 100%;
  margin: 0;
  background-color: $white;
  line-height: 1;
  text-align: left;
}

.card {
  width: 33%;
  margin-bottom: 50px;
  min-width: 340px;
  display: flex;
  justify-content: center;
}

.card:first-child {
  justify-content: flex-start;
}

.card:last-child {
  justify-content: flex-end;
}

.card__image {
  width: 340px;
  height: 260px;
}

@include desktop {
  .card__link {
    text-decoration: none;
  }
}
