// Card
//
// Home page card styles.
//
// Markup: html/card.html
//
// Styleguide Molecules.Card

.card__link {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;

  &.text {
    color: $gunmetal-grey;
  }

  &:visited {
    color: $gunmetal-grey;
  }

  @include desktop {
    text-decoration: none;
  }
}

.card__wrapper {
  display: flex;
  width: 100%;
}

.card__label {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0;
  padding: 24px;
  background-color: $white;
  line-height: 1;
  text-align: left;
}

.card {
  width: 100%;
  max-width: 380px;
  margin-bottom: 20px;

  &:first-child {
    justify-content: flex-start;
  }

  &:last-child {
    justify-content: flex-end;
  }

  @include phone-down {
    margin-right: 0px;
  }

  .card__image {
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
    transition: transform 1s;
  }

  &:hover {
    .card__image {
      transform: scale(1.05);
    }
  }

}
