// Cards Container
//
// Various card container styles.
//
// Markup: html/cards-container.html
//
// Styleguide Molecules.Cards Container

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 50px 0px 20px;
  background-color: $sand-grey;

  @include tablet-up {
    padding: 50px 0px 30px 0px;
  }

  @include tablet {
    justify-content: space-between;

    .card {
      width: calc(50% - 10px);
    }
  }


  @include desktop {
    justify-content: space-between;

    .card {
      width: calc(33.33% - 14px);
    }
  }
}
