// Card
//
// Home page card styles.
//
// Markup: html/card.html
//
// Styleguide Components.Card

.card {
  width: 343px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card__image {
  width: 343px;
  height: 260px;
}

.card__label {
  padding: 22px;
  background-color: $white;
  line-height: 1;
}

@include desktop {
  .card {
    margin-right: 10px;
    margin-left: 10px;
  }
  .card__image {
    width: 340px;
  }
  .card__label {
    text-decoration: none;
  }
}

@include tablet {
  .card {
    margin-right: 10px;
    margin-left: 10px;
  }
}
