// cards-container
//
// Various button styles.
//
// Markup: html/cards-container.html
//
// Styleguide Components.Cards-container


.cards-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: $sand-grey;
  padding: 70px 70px 20px;
}
