// Cards Container
//
// Various button styles.
//
// Markup: html/cards-container.html
//
// Styleguide Molecules.Cards Container

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 70px 0px 20px 0px;
  background-color: $sand-grey;
}
