// Colors Brand
//
// The brand colors for IOTA branding.
//
// Colors:
// $tealish: #20a49d - Tealish
// $jade: #1e9a93 - Jade
// $blueberry: #603f98 - Blueberry
//
// Styleguide Atoms.Colors Brand

$tealish: #20a49d;
$jade: #1e9a93;
$blueberry: #603f98;

body {
  --tealish: #{$tealish};
  --jade: #{$jade};
  --blueberry: #{$blueberry};
}

.tealish {
  color: $tealish;
}

.jade {
  color: $jade;
}

.blueberry {
  color: $blueberry;
}

.tealish-background {
  background-color: $tealish;
}

.jade-background {
  background-color: $jade;
}

.blueberry-background {
  background-color: $blueberry;
}
