// Colors Neutral
//
// The neutral colors for IOTA branding.
//
// Colors:
// $black: #1c1e21 - Black
// $white: #ffffff - White
// $gunmetal-grey: #3f3f3f - Gunmetal Grey
// $body-copy: #696f76 - Body copy
// $brown-grey: #8e8e8e - Brown Grey
// $dark-grey: #1c1e21 - Dark Grey
// $light-grey: #c4c4c4 - Light Gray
// $sand-grey: #f3f2f1 - Sand Grey
//
// Styleguide Atoms.Colors Neutral

$black: #1c1e21;
$white: #ffffff;
$gunmetal-grey: #3f3f3f;
$body-copy: #4f4f4f;
$brown-grey: #8e8e8e;
$dark-grey: #1c1e21;
$light-grey: #c4c4c4;
$sand-grey: #f3f2f1;

body {
  --black: #{$black};
  --white: #{$white};
  --gunmetal-grey: #{$gunmetal-grey};
  --body-copy: #{$body-copy};
  --brown-grey: #{$brown-grey};
  --dark-grey: #{$dark-grey};
  --light-grey: #{$light-grey};
  --sand-grey: #{$sand-grey};
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.gunmetal-grey {
  color: $gunmetal-grey;
}

.body-copy {
  color: $body-copy;
}

.brown-grey {
  color: $brown-grey;
}

.dark-grey {
  color: $dark-grey;
}

.light-grey {
  color: $light-grey;
}

.sand-grey {
  color: $sand-grey;
}

.black-background {
  background-color: $black;
}

.white-background {
  background-color: $white;
}

.gunmetal-grey-background {
  background-color: $gunmetal-grey;
}

.body-copy-background {
  background-color: $body-copy;
}

.brown-grey-background {
  background-color: $brown-grey;
}

.dark-grey-background {
  background-color: $dark-grey;
}

.light-grey-background {
  background-color: $light-grey;
}

.sand-grey-background {
  background-color: $sand-grey;
}
