// Colors Brand
//
// The brand colors for IOTA branding.
//
// $tealish     -  #20a49d; tealish
// $jade      -  #1e9a93; jade
// $blueberry     - #603f98; Blueberry
//
// Styleguide Atoms.Colors Brand

$tealish: #20a49d;
$jade: #1e9a93;
$blueberry: #603f98;
