// Colors Utility
//
// The utility colors for IOTA branding.
//
// Colors:
// $warning: #ffc107 - Warning
// $danger: #dc3545 - Danger
// $success: #28a745 - Success
// $info: #17a2b8 - Info
//
// Styleguide Atoms.Colors Utility

$warning: #ffc107;
$danger: #dc3545;
$success: #28a745;
$info: #17a2b8;

body {
  --warning: #{$warning};
  --danger: #{$danger};
  --success: #{$success};
  --info: #{$info};
}
