// Dropdown
//
// Dropdown styles.
//
// Markup: html/dropdown.html
//
// Styleguide Atoms.Dropdown

.select-wrapper {
  position: relative;
  width: 100%;
  max-width: 343px;
  border: 1px solid $white;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1.5;

  @include phone-down {
    max-width: none;
  }

  &::after {
    @extend %icon-chevron-down;
    position: absolute;
    top: calc(50% - 9px);
    right: 25px;
    color: $white;
    @include icon(18px);
    line-height: 18px;
    pointer-events: none;
  }
}

.select {
  width: 100%;
  max-width: 343px;
  height: 55px;
  padding-right: 55px;
  padding-left: 20px;
  border: 0;
  border-radius: 5px !important;
  outline: none;
  background: none;
  color: $white;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  // sass-lint:disable no-vendor-prefixes
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  option {
    color: $black;
  }

  optgroup {
    color: $gunmetal-grey;
  }

  // Remove the down arrow on Edge
  &::-ms-expand {
    display: none;
  }

  // Remove the focus rect on Firefox
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $white;
  }

  &:-moz-focusring * {
    color: $white;
    text-shadow: none;
  }
}
