// Drop Selector
//
// Markup: html/drop-selector.html
//
// Styleguide Atoms.Drop Selector

$drop-selector-width: 240px;

.drop-selector {
  width: $drop-selector-width;

  .drop-selector-title {
    display: flex;
    position: relative;
    top: 1px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-right: 18px;
    padding-left: 18px;
    border-bottom: 2px solid $tealish;
    background-color: #fafafa;
    cursor: pointer;

    .drop-selector-title__text {
      @include font-size(18px);

      color: $jade;
      font-weight: bold;
      line-height: 1;
    }

    .drop-selector-title__icon {
      &::before {
        @extend %icon-up-down;

        position: relative;
        top: 1px;
        color: $jade;

        @include icon(11px);
      }
    }
  }

  .drop-selector-list {
    position: absolute;
    width: $drop-selector-width;
    max-height: 0;
    margin: 1px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    list-style: none;
    transition: $transition-duration ease-out;
    transition-property: max-height;
    border: 1px solid #ededed;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background-color: $white;

    .drop-selector-list-item {
      a {
        display: block;
        padding-right: 18px;
        padding-left: 18px;

        @include font-size(17px);

        color: #373e46;
        font-weight: 600;
        line-height: 2.5;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover,
      &.drop-selector-list-item__selected {
        background-color: #fafafa;

        a {
          color: $jade;
          font-weight: bold;
        }
      }
    }

    .drop-selector-list-item + .drop-selector-list-item {
      border-top: 1px solid #ededed;
    }
  }

  &.drop-selector__expanded {
    .drop-selector-list {
      height: auto;
      max-height: 1000px;
      transition: $transition-duration ease-in;
      transition-property: max-height;
      border-bottom-width: 1px;
    }
  }
}
