// Feedback Form
//
// Markup: html/feedback-form.html
//
// Styleguide Organisms.Feedback Form

.feedback-form__wrapper {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  padding: 20px;
  border-radius: 20px;
  background-color: $white;

  h1 {
    color: $black;
    font-family: $font-primary;

    @include font-size(32px);

    font-weight: bold;
    line-height: 1;
  }

  h2 {
    margin: 0;
    color: $black;
    font-family: $font-primary;

    @include font-size(28px);

    font-weight: 300;
    line-height: 1;
  }

  .feedback-form-button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;

    &:last-of-type{
      .feedback-form-button-circle {
        i{
          top: calc(50% - 14px);
        }
      }
    }

    .feedback-form-button-circle {
      width: 105px;
      height: 105px;
      margin-bottom: 20px;
      transition: $transition-duration ease;
      transition-property: border, color;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 60px;
      background: none;
      color: rgba(0, 0, 0, 0.1);
      position: relative;

      @include font-size(40px);

      i{
        position: absolute;
        left: calc(50% - 20px);
        top: calc(50% - 24px);
      }

      cursor: pointer;

      &:hover {
        border-color: $blueberry;
        color: $blueberry;
      }

      &:focus {
        outline: none;
      }
    }

    .feedback-form-button-label {
      transition: $transition-duration ease;
      transition-property: border, color;
      border: 0;
      background: none;
      color: $body-copy;

      @include font-size(17px);

      font-weight: bold;
      line-height: 1.12;
      cursor: pointer;

      &:hover {
        color: $blueberry;
      }

      &:focus {
        outline: none;
      }
    }

    &.feedback-form-button--selected {
      .feedback-form-button-circle {
        background-color: $blueberry;
        color: $white;
      }

      .feedback-form-button-label {
        color: $blueberry;
      }
    }
  }

  textarea {
    width: 60%;
  }

  .feedback-form-button-submit {
    width: 60%;
    margin: 30px;
    padding: 20px;
    transition: $transition-duration ease;
    transition-property: border, background;
    border: 0;
    border-radius: 5px;
    background: $blueberry;
    color: $white;

    @include font-size(17px);

    font-weight: bold;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      &:not([disabled]) {
        border-color: darken($blueberry, 10%);
        background-color: darken($blueberry, 10%);
      }
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
