// Feedback Overlay
//
// Styleguide Organisms.Feedback Overlay

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  transition: 0.1s ease-out;
  transition-property: opacity;
  opacity: 0;
  overflow: auto;
  pointer-events: none;

  .feedback-overlay-close {
    position: absolute;
    top: 15px;
    right: 30px;
    border: 0;
    background: none;
    color: $white;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}


.feedback-overlay--expanded {
  transition: $transition-duration ease-in;
  opacity: 1;
  pointer-events: all;
}
