// Feedback Overlay
//
// Styleguide Organisms.Feedback Overlay

.feedback-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  transition: 0.1s ease-out;
  transition-property: opacity;
  opacity: 0;
  pointer-events: none;
}

.feedback-overlay--expanded {
  transition: $transition-duration ease-in;
  opacity: 1;
  pointer-events: all;
}
