// Feedback Button
//
// Markup: html/feedback-button.html
//
// hover - Button in hover state.
//
// Styleguide Molecules.Feedback Button

.feedback-button__wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  transition: $transition-duration ease-out;
  transition-property: box-shadow, background-color, opacity;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 0px #ffffff;
}

.feedback-button__wrapper--expanded {
  transition: $transition-duration ease-out;
  transition-property: box-shadow, background-color, opacity;
  opacity: 0.8;
  background-color: #3f3f3f;
  box-shadow: 0px 0px 0px 150vw #3f3f3f;
}

.feedback-button {
  width: 65px;
  height: 65px;
  transition: $transition-duration ease;
  transition-property: background;
  border: 2px solid $white;
  border-radius: 50%;
  background-color: #f6f6f6;
  cursor: pointer;

  &:hover {
    background-color: #e6e6e6;
  }

  &:focus {
    outline: none;
  }

  .feedback-button--icon {
    &::before {
      @extend %icon-feedback;
      position: absolute;
      top: calc(50% - 14px);
      left: calc(50% - 15px);
      color: $jade;
      @include icon(30px);
    }
  }

  .feedback-button--icon-yes {
    &::before {
      @extend %icon-thumb-up;
      top: calc(50% - 16px);
      @include icon(28px);
    }
  }

  .feedback-button--icon-no {
    &::before {
      @extend %icon-thumb-down;
      top: calc(50% - 13px);
      @include icon(28px);
    }
  }
}

.feedback-button--hide-content {
  display: none;
}
