// Feedback Button
//
// Markup: html/feedback-button.html
//
// hover - Button in hover state.
//
// Styleguide Molecules.Feedback Button

.feedback-button__wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  transition: $transition-duration ease-out;
  transition-property: left, top, width, height, box-shadow;
  border: 0;
  border-radius: 50%;
  background-color: $blueberry;
  box-shadow: 0px 0px 0px 0px lighten($blueberry, 20);
}

.feedback-button__wrapper--expanded {
  top: 150vh;
  left: -150vh;
  width: 400vh;
  height: 400vh;
  transition: 0.5s ease-out;
  box-shadow: 0px 0px 0px 100px lighten($blueberry, 20);
}

.feedback-button {
  width: 65px;
  height: 65px;
  transition: $transition-duration ease;
  transition-property: background;
  border: 0;
  border-radius: 50%;
  background-color: $blueberry;
  cursor: pointer;

  &:hover {
    background-color: #4e2c88;
  }

  &:focus {
    outline: none;
  }

  .feedback-button--icon {
    &::before {
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 13px);
      color: $white;
      @include icon(💬, 28px);
    }
  }

  .feedback-button--icon-yes {
    &::before {
      top: calc(50% - 14px);
      @include icon(👍, 28px);
    }
  }

  .feedback-button--icon-no {
    &::before {
      @include icon(👎, 28px);
    }
  }
}

.feedback-button--hide-content {
  display: none;
}
