// Floating Menu
//
// Various arrow button styles.
//
// Markup: html/floating-menu.html
//
// Styleguide Molecules.Floating Menu

.floating-menu {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.floating-menu__item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  transition: $transition-duration ease;
  transition-property: border;
  border-left: 4px solid transparent;

  a {
    transition: inherit;
    transition-property: font-size, color;
    color: $black;
    @include font-size(17px);
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
    font-stretch: normal;
  }

  &:hover {
    border-color: $tealish;

    a {
      color: $tealish;
      @include font-size(26px);
      font-weight: bold;
    }
  }
}

.floating-menu__item--selected {
  border-color: $tealish;

  a {
    color: $tealish;
    @include font-size(26px);
    font-weight: bold;
  }
}
