// Floating Menu
//
// Various floating menu styles.
//
// Markup: html/floating-menu.html
//
// Styleguide Molecules.Floating Menu

.floating-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.floating-menu__item {
  padding-left: 32px;
  transition: $transition-duration ease;
  transition-property: border;
  border-left: 3px solid $white;

  a {
    display: inline-block;
    margin: 0px;
    transform-origin: left center;
    transition: inherit;
    transition-property: transform, color, border-color;
    color: $black;
    @include font-size(17px);
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    text-decoration: none;
  }

  &:hover,
  &.floating-menu__item--selected {
    border-color: $tealish;

    a {
      transform: scale(1.3);
      color: $tealish;
    }
  }

  &:hover {
    a {
      text-decoration: underline;
    }
  }

}
