// Fonts
//
// Standard font defintions.
//
// Markup: html/fonts.html
//
// Styleguide Atoms.Fonts

// Import our custom primary font
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,600');

// Import our custom secondary font
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

// Create custom font stack
// based on https://getbootstrap.com/docs/4.1/content/reboot/
$font-primary: 'Nunito Sans', -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-secondary: 'Source Code Pro', monospace;

// Define icon font
@font-face {
  font-family: 'IOTA icons';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/iota-icons.ttf?build=1.0.4') format('truetype');
}

$font-family-icons: 'IOTA icons';
