// Footer
//
// This is the home page footer.
//
// Markup: html/footer.html
//
// Styleguide Organisms.Footer

footer {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, #3e3e3e, #2e2e2e);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-width;
  margin-top: 0;

  @include tablet-up {
    margin-top: 95px;
  }
}

.footer-top-content {
  display: none;

  @include tablet-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 95px;
  }
}

.footer-top-content__wrapper {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  min-width: 250px;
  padding: 0 40px;

  .footer-top-content__heading {
    margin: 0;
    color: $tealish;
    line-height: 1.75;
  }
}

.footer-top-content__dropdown-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 16px;

  @include tablet-up {
    display: none;
  }


  .footer-top-content__heading {
    margin-top: 0;

    @include tablet-up {
      margin-top: unset;
    }


    color: $tealish;
    line-height: 1.75;
  }
}

.footer-top-content__link {
  color: $white;
  font-weight: 300;
  line-height: 2.25;
  text-decoration: underline;

  @include desktop {
    text-decoration: none;
  }

  &:hover {
    color: $white;
    text-decoration: underline;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.footer-bottom-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;

  @include tablet-up {
    margin-bottom: 95px;
  }
}

.footer-bottom-content__wrapper {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  min-width: 250px;
  padding: 0 16px 30px;

  @include tablet-up {
    padding: 0 40px 30px;
  }

  &.legal {
    .footer-bottom-content__item {
      &:first-child {
        @include phone-down {
          display: none;
        }
      }
    }
  }

  &.copyright {
    display: none;

    @include phone-down {
      display: flex;
      flex-direction: column;
      width: 50%;
      min-width: 250px;
      padding-right: 30px;
      padding-left: 16px;
    }
  }

  .footer-bottom-content__item {
    color: $brown-grey;
    @include font-size(15px);
    font-weight: 300;
    line-height: 2;

    a {
      color: $tealish;
      @include font-size(15px);
      font-weight: normal;
      text-decoration: underline;

      @include desktop {
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

