// Forms
//
// For generic forms.
//
// Markup: html/forms.html
//
// Styleguide Molecules.Forms

$common-label-width: 150px;

.form {
  width: 100%;

  .fieldset {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 10px 0px;
    border: 0;

    @include phone-down {
      flex-direction: column;
      align-items: stretch;
    }


    &.fieldset--small {
      label {
        margin-top: 10px;
      }

      label + span {
        margin: 10px 10px 10px 0px;
      }
    }

    label {
      display: block;
      flex: 0 0 $common-label-width;
      margin-top: 20px;
      margin-right: 20px;

      @include font-size(16px);

      font-weight: 600;

      @include phone-down {
        flex: none;
        margin-bottom: 5px;
        margin-left: 0px;
      }
    }

    label + span {
      display: inline-flex;
      align-items: center;
      width: 100%;
      margin: 20px 0px 20px 0px;

      @include word-break;
      @include phone-down {
        margin: 0;
      }
    }

    input {
      &[type='text'],
      &[type='password'] {
        display: block;
        width: 100%;
        padding: 20px;
        border: 1px solid $light-grey;
        border-radius: 5px;
        outline: none;
        background-color: $white;
        color: $black;

        @include phone-down {
          padding: 10px;
        }


        &::placeholder {
          opacity: 1;
          color: $light-grey;
        }

        &:read-only {
          background-color: lighten($light-grey, 15%);
          color: $black;
        }

        &:disabled {
          background-color: lighten($light-grey, 15%);
          color: $black;
        }
      }

      &.small {
        width: 30%;

        @include phone-down {
          width: 100%;
        }
      }
    }

    textarea {
      padding: 20px;

      @include phone-down {
        padding: 10px;
      }


      &:read-only {
        background-color: lighten($light-grey, 15%);
        color: $black;
      }
    }

    .select-wrapper {
      @extend %select-wrapper-base;

      max-width: none !important;
      border: 1px solid $light-grey !important;
      border-radius: 5px !important;
      background-color: $white !important;

      &::after {
        color: $gunmetal-grey !important;
      }

      @include phone-down {
        height: 40px !important;
      }


      &.small {
        width: 30%;

        @include phone-down {
          width: 100%;
        }
      }
    }

    .select-wrapper + input,
    input + .select-wrapper {
      margin-left: 20px;

      @include phone-down {
        margin-top: 10px;
        margin-left: 0px;
      }
    }

    .checkbox-container {
      position: relative;
      top: 8px;
    }

    select {
      @extend %select-base;

      max-width: none !important;
      color: $black !important;

      &:disabled {
        background-color: lighten($light-grey, 15%);
        color: $black;
      }

      @include phone-down {
        height: 38px !important;
        padding-left: 10px !important;
      }
    }

    .button {
      min-width: 180px;
      margin: 0px 0px 0px 10px;
      white-space: nowrap;

      @include phone-down {
        margin: 10px 0px 0px 0px;
        padding: 8px 32px;
        text-align: center;
      }

      &.no-min {
          min-width: auto;
      }
    }
  }

  .form--actions {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

    .form--actions--spacer {
      flex: 0 0 $common-label-width;
      margin-right: 20px;

      @include phone-down {
        display: none;
      }
    }

    .form--actions--content {
      width: 100%;

      .button {
        min-width: 180px;
        margin: 0px 10px 10px 0px;

        @include phone-down {
          width: 100%;
          margin: 0px 0px 10px 0px;
          padding: 8px 32px;
          text-align: center;
        }
      }
    }
  }

  .form--row {
    min-height: 20px;
    margin-bottom: 10px;
    margin-left: $common-label-width + 20px;

    @include phone-down {
      margin-left: 0px;
    }
  }

  .form--status {
    display: flex;

    label {
      display: block;
      flex: 0 0 $common-label-width;
      margin-right: 20px;

      @include phone-down {
        flex: none;
        margin-right: 0px;
      }
    }

    .form--status-content {
      display: flex;
      align-items: center;
      justify-content: stretch;
      width: 100%;
      min-height: 100px;
      margin-top: 10px;
      padding: 20px;
      border: 1px solid $light-grey;
      border-radius: 5px;
      font-weight: bold;

      &.form--status-content__error {
        color: $danger;
      }

      .form--status-message {
        display: flex;
        flex-direction: column;
      }

      .spinner {
        margin-right: 20px;
      }

      .success-wrapper {
        width: auto;
      }

      .alert {
        width: 100%;
      }
    }
  }
}
