$min-width: 375px;
$max-width: 1420px;

$transition-duration: 0.3s;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  color: $body-copy;
  font-family: $font-primary;
  font-weight: 200;

  &.no-scroll {
    overflow: hidden;
  }
}

.hidden {
  display: none;
}

input,
button {
  // sass-lint:disable no-property-vendor-prefix
  -webkit-appearance: none;

  &[type='search'] {
    outline-offset: 0px;
    -webkit-appearance: none;

    &::-webkit-search-cancel-button {
      width: 0px;
      height: 0px;
      -webkit-appearance: none;
    }
  }
}

@include phone-down {
  ::-webkit-scrollbar {
    -webkit-appearance: none;

    &::horizontal {
      height: 16px;
    }
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid #eeeeee;
    border-radius: 10px;
    background-color: #cccccc;
  }

  ::-webkit-scrollbar-track {
    background-color: #eeeeee;
  }
}
