$min-width: 375px;
$max-width: 1420px;

$transition-duration: 0.3s;

body {
  padding: 0;
  color: $body-copy;
  font-family: $font-primary;
  font-weight: 200;
  box-sizing: border-box;

  &.no-scroll {
    overflow: hidden;
  }
}

.hidden {
  display: none;
}

input, button{
  -webkit-appearance: none;
  &[type='search'] {
    -webkit-appearance: none;
    // sass-lint:disable no-vendor-prefixes
    &::-webkit-search-cancel-button {
      width: 0px;
      height: 0px;
      -webkit-appearance: none;
    }
  }
}
