$min-width: 375px;
$max-width: 1495px;

$transition-duration: 0.3s;
$transition-duration-quick: 0.1s;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  padding: 0;
  color: $body-copy;
  font-family: $font-primary;
  font-weight: 300;

  &.no-scroll {
    overflow: hidden;
  }
}

.hidden {
  display: none;
}

input,
button {
  // sass-lint:disable no-property-vendor-prefix
  -webkit-appearance: none;

  &[type='search'] {
    outline-offset: 0px;
    -webkit-appearance: none;

    &::-webkit-search-cancel-button {
      width: 0px;
      height: 0px;
      -webkit-appearance: none;
    }
  }
}

strong {
  font-weight: 600;
}
