// Header
//
// Various button styles.
//
// Markup: html/header.html
//
// Styleguide Components.Header

.header {
  height: 120px;
  padding: 32px;
  background-color: $tealish;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  width: 167px;
  height: 56px;
}

.header__search {
  height: 42px;
}

.header__icon {
  color: $white;
}
.header-wrapper--shrinks {

}
