// Header
//
// Various button styles.
//
// Markup:
// <header class="header {{modifier_class}}"><img class="header__brand" src="assets/Logo.svg" /><div class="header__search"><div class="input-wrapper"><input type="text" class="input-search" placeholder="Search for topics" /></div></div><div class="header__icon"><i class="fas fa-bars"></i></div></header>
//
// Styleguide Components.Header

.header {
  height: 120px;
  padding: 32px;
  background-color: $tealish;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  width: 167px;
  height: 56px;
}

.header__search {
  height: 42px;
}

.header__icon {
  color: $white;
}
.header-wrapper--shrinks {

}
