// Header
//
// This is the home page header.
//
// Markup: html/header.html
//
// Styleguide Components.Header

.header {
  height: 100%;

  background-color: $tealish;
  display: block;
}
.header__wrapper {
  padding: 32px;
}
.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__body {
  max-width: $max-width;
  margin: 87px auto 50px auto;
}

.header__brand {
  width: 167px;
  height: 56px;
}

.header__search {
  height: 42px;
  margin-top: 80px;
}

.header__icon {
  color: $white;
}

@include desktop {
  .header__search {
    margin-top: 0;
    width: 700px;
  }
  .header__body {
    display: flex;
    justify-content: space-between;
  }
}
