// Heading Label
//
// Markup: html/heading-label.html
//
// Styleguide Atoms.Heading Label

.heading-label {
  display: inline-flex;
  align-items: center;
  height: 25px;
  margin-bottom: 12px;
  padding: 0px 8px 0px 8px;
  border-radius: 3px;
  background-color: $blueberry;
  color: #f6f6f6;
  @include font-size(12px);
  font-weight: 600;
  text-transform: uppercase;

  &.heading-label--secondary {
    background-color: $tealish;
  }
}
