// Horizontal Rule
//
// Various horizontal rule styles.
//
// Markup: html/horizontal-rule.html
//
// .horizontal-rule--small - Horizontal ruler small.
//
// Styleguide Atoms.Horizontal Rule

hr,
.horizontal-rule {
  width: 100%;
  margin: 16px 0px 16px 0px;
  border: 0;
  border-top: 1px solid $light-grey;
  border-style: solid;
  text-align: left;
}

.horizontal-rule--small {
  width: 160px;
}
