// Input Search Sticky
//
// Input Search for sticky header, using javascript you can apply any time the ' .input-sticky-wrapper--expanded' modifier class to make it expanded with animation
//
// Markup: html/input-search-sticky.html
//
// .input-sticky-wrapper--expanded   - expanded input
//
// Styleguide Molecules.Input Search Sticky

.input-sticky-wrapper {
  display: inline-flex;
  position: relative;
  width: 40px;
  max-width: 389px;
  overflow: hidden;
  transition: $transition-duration-quick ease;
  transition-property: width;

  &::before {
    @extend %icon-search;

    position: absolute;
    top: 12px;
    left: 12px;
    color: $white;

    @include icon(18px);
  }

  .input-search-sticky {
    width: 100%;
    padding: 10px 0px 12px 43px;
    transition: opacity $transition-duration-quick ease;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    outline: none;
    opacity: 0;
    background-color: transparent;
    color: $white;

    @include font-size(18px);

    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include placeholder {
      opacity: 0.6;
      color: $white;

      @include font-size(20px);

      font-style: normal;
      font-weight: 300;
    }
  }

  &.input-sticky-wrapper--expanded {
    width: 100%;
    transition: $transition-duration ease;
    transition-property: width;

    .input-search-sticky {
      padding-right: 40px;
      transition: opacity $transition-duration ease;
      border-bottom-color: $white;
      opacity: 1;
    }
  }
}
