// Input Search
//
// Various input styles.
//
// Markup: html/input-search.html
//
// Styleguide Molecules.Input Search

.input-wrapper {
  display: inline-flex;
  position: relative;
  width: 100%;

  &::before {
    @extend %icon-search;
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    color: $white;
    @include icon(24px);
  }
}

.input-search {
  width: 100%;
  max-width: 100%;
  padding: 13px 10px 13px 43px;
  border: 0;
  border-bottom: 2px solid $white;
  outline: none;
  background-color: $tealish;
  color: $white;
  @include font-size(20px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;

  @include placeholder {
    color: $white;
    @include font-size(20px);
    font-style: normal;
    font-weight: 300;
    opacity: 0.6;
  }
}
