// Input Register
//
// Various input styles.
//
// Markup: html/input-register.html
//
// :focus - When Input is focused.
//
// Styleguide Molecules.Input Register

$common-height: 55px;
$common-desktop-width: 155px;

.input-register-container {
  display: flex;
}

.input-register {
  width: 280px;
  height: $common-height - 4px;
  padding-left: 16px;
  border: 1px solid $light-grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  background-color: $white;
  color: $body-copy;
  @include font-size(18px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;

  @include phone-down {
    width: 100%;
  }
}

.input-register__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $common-height;
  height: $common-height;
  transition: $transition-duration ease;
  transition-property: background;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $blueberry;
  @include font-size(17px);
  font-weight: bold;
  cursor: pointer;

  &:hover {
    &:not([disabled]) {
      background-color: #4e2c88;
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &::after {
    color: $white;
    @include icon(→);
  }

  @include desktop {
    justify-content: space-between;
    width: $common-desktop-width;
    padding: 0px 30px;
  }
}

.input-register__button-text {
  display: none;
  color: $white;

  @include desktop {
    display: inline;
  }
}
