// Input Register
//
// Various input styles.
//
// Markup: html/input-register.html
//
// :focus - When Input is focused.
//
// Styleguide Molecules.Input Register

$common-height: 55px;
$common-desktop-width: 155px;

.input-register-container {
  display: flex;
}

.input-register {
  width: 300px;
  height: $common-height - 2px;
  padding-left: 16px;
  border: 0;
  outline: none;
  background-color: $white;
  color: $body-copy;
  @include font-size(18px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
}

.input-register__button {
  width: $common-height;
  height: $common-height;
  border: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: $blueberry;
  @include font-size(17px);
  font-weight: bold;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::after {
    color: $white;
    font-family: $font-family-icons;
    font-weight: 600;
    content: '\f061';
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    width: $common-desktop-width;
    padding: 15px 30px;
  }
}

.input-register__button-text {
  display: none;
  color: $white;

  @include desktop {
    display: inline;
  }
}
