// Input Search Sticky
//
// Input Search for sticky header, using javascript you can apply any time the ' .input-sticky-wrapper--expanded' modifier class to make it expanded with animation
//
// Markup: html/input-search-sticky.html
//
// .input-sticky-wrapper--expanded   - expanded input
//
// Styleguide Molecules.Input Search Sticky

.input-sticky-wrapper {
  display: inline-flex;
  position: relative;
  width: 20px;
  transition: $transition-duration ease;
  transition-property: width;

  &::before {
    position: absolute;
    top: 12px;
    left: 12px;
    color: $white;
    @include icon(🔍, 18px);
  }
}

.input-sticky-wrapper--expanded {
  width: 100%;

  .input-search-sticky {
    padding-right: 40px;
    border-bottom: 2px solid $white;
  }
}

.input-search-sticky {
  width: 100%;
  max-width: 100%;
  padding: 10px 0px 7px 43px;
  border: 0;
  border-color: $tealish;
  outline: none;
  background-color: $tealish;
  color: $white;
  @include font-size(18px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  overflow: hidden;
  font-stretch: normal;

  @include placeholder {
    color: $white;
    @include font-size(20px);
    font-style: normal;
    font-weight: 300;
    opacity: 0.6;
  }
}
