// Input Search Basic
//
// Various input styles.
//
// Markup: html/input-search-basic.html
//
// Styleguide Molecules.Input Search Basic

.input-wrapper-basic {
  display: inline-flex;
  width: 100%;

  &::before {
    position: absolute;
    top: calc(50% - 16px);
    left: 24px;
    color: $light-grey;
    @include icon(🔍, 32px);
  }

  .input-search-basic {
    width: 100%;
    max-width: 100%;
    padding: 20px 40px 20px 73px;
    border: 1px solid $light-grey;
    border-radius: 5px;
    outline: none;
    background-color: $white;
    color: $light-grey;

    @include font-size(18px);

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;

    @include placeholder {
      color: $white;

      @include font-size(20px);

      font-style: normal;
      font-weight: 600;
    }
  }
}
