// Input Search Basic
//
// Various input styles.
//
// Markup: html/input-search-basic.html
//
// Styleguide Molecules.Input Search Basic

.input-wrapper-basic {
  display: flex;
  position: relative;
  width: 100%;
  max-width: $desktop-width;

  &::before {
    @extend %icon-search;
    position: absolute;
    top: calc(50% - 12px);
    left: 24px;
    color: $light-grey;
    @include icon(24px);
  }

  .input-search-basic {
    width: 100%;
    max-width: 100%;
    padding: 15px 40px 15px 73px;
    border: 1px solid $light-grey;
    border-radius: 5px;
    outline: none;
    background-color: $white;
    color: $black;

    @include font-size(18px);

    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include placeholder {
      color: $white;

      @include font-size(20px);

      font-style: normal;
      font-weight: 600;
    }
  }
}
