// Layouts
//
// Various layout styles.
//
// Markup: html/layouts.html
//
// Styleguide Atoms.Layouts

.layouts--home,
.layouts--2-column {
  display: flex;
  max-width: $max-width;
  margin: 0 auto;

  .left-column {
    flex: 0 0 250px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .right-column {
    flex: 1;
    max-width: $max-width;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  @include tablet-down {
    .left-column {
      display: none;
    }

    .right-column {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}

.layouts--doc,
.layouts-3-column {
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  margin: 0 auto;

  .left-column {
    flex: 0 0 300px;
    padding: 70px 0px 120px 40px;
  }

  .middle-column {
    flex: 1;
    max-width: 720px;
    min-height: 500px;
    padding: 70px 55px 120px 45px;
    overflow: hidden;
  }

  .middle-toc {
    display: none;
  }

  .right-column {
    flex: 0 0 300px;
    padding: 70px 40px 120px 0;
  }

  @include desktop-narrow-down {
    .left-column {
      display: none;
    }
  }


  @include desktop-down {
    justify-content: center;

    .left-column {
      display: none;
    }

    .middle-column {
      min-height: unset;
      padding: 35px 16px 60px 16px;
    }

    .right-column {
      display: none;
    }

    .middle-toc {
      display: block;
      margin-bottom: 30px;
    }
  }
}

.layouts--search,
.layouts--one-column {
  display: flex;
  justify-content: space-around;

  .middle-column {
    flex: 1;
    max-width: 820px;
    padding: 72px 60px 72px 60px;

    @include desktop-down {
      padding: 72px 16px 72px 16px;
    }
  }
}

.layouts--app-single {
  display: flex;
  flex-direction: column;
  align-items: center;

  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: $max-width;
    min-height: 50vh;

    @include phone-down {
      min-height: auto;
    }

    h1 {
      &:first-of-type {
        margin-bottom: 20px;
      }
    }
  }
}
