// Link
//
// Markup: html/link.html
//
// .link - Default link.
// :hover - Link in hover state.
// .disabled - Link in disabled state.
//
// Styleguide Atoms.Link

a,
.link {
  outline: 0;
  color: $body-copy;
  @include font-size(16px);
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
  @include desktop {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 0;
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}
