$phone-width: 514px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-narrow-width: 1180px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-narrow-down {
  @media (max-width: #{$desktop-narrow-width}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phone-up {
  @media (min-width: #{$phone-width}) {
    @content;
  }
}

@mixin phone-down {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

.desktop-up-hidden {
  @include desktop-down {
    display: none !important;
  }
}

.desktop-down-hidden {
  @include desktop-down {
    display: none !important;
  }
}

.tablet-up-hidden {
  @include tablet-up {
    display: none !important;
  }
}

.tablet-down-hidden {
  @include tablet-down {
    display: none !important;
  }
}

.phone-down-hidden {
  @include phone-down {
    display: none !important;
  }
}

.phone-up-hidden {
  @include phone-up {
    display: none !important;
  }
}
