@mixin font-size($size) {
  font-size: $size;

  // sass-lint:disable no-duplicate-properties
  font-size: #{$size / 16px}rem;
}

@mixin placeholder {
  // sass-lint:disable no-selector-vendor-prefix
  &::placeholder {@content}
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin word-break {
  word-break: break-all;

  // break-word is not supported in all browsers but behaves better than break all
  // sass-lint:disable no-duplicate-properties
  word-break: break-word;
}

@mixin icon($size: null) {
  font-family: $font-family-icons;
  font-weight: 300;
  @if ($size) {
    font-size: $size;
    line-height: $size;
  }
}
