// Pagination
//
// Markup: html/pagination.html
//
// Styleguide Molecules.Pagination

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;

  // This is necessary to remove space between li items
  @include font-size(0px);

  .pagination-item {
    display: inline-flex;
    align-items: center;
    min-width: 34px;
    height: 34px;
    padding: 0px 8px 0px 8px;

    &::before {
      position: relative;
      top: 0px;
      left: -9px;
      width: 1px;
      height: 24px;
      background-color: $light-grey;
      content: '';
    }

    &:first-child {
      &::before {
        background-color: transparent;
      }
    }

    a {
      @include font-size(16px);

      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding-right: 12px;
      padding-left: 12px;
      color: #84898f;
      font-weight: normal;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }

      @include desktop {
        text-decoration: none;
      }
    }
  }

  .pagination-item--selected {
    a {
      background-color: $tealish;
      color: $white;
    }
  }
}
