// A-Palette
//
// The primary colors for IOTA branding.
//
// $$jade      -  #1e9a93; Green primary 1
// $tealish     -  #20a49d; Green primary 2
// $dark-grey       -  #1c1e21; Dark Grey
// $gunmetal-grey  -  #3f3f3f; Dark Grey 2
// $body-copy     -  #696f76; Body copy
// $brown-grey      -  #8e8e8e; Brown Grey
// $sand-grey      -  #f3f2f1; Sand Grey
// $white          -  #ffffff; White
// $blueberry     - #603f98; Blueberry
//
// Styleguide Components.A-Palette


$jade: #1e9a93;
$tealish: #20a49d;
$dark-grey: #1c1e21;
$gunmetal-grey: #3f3f3f;
$body-copy : #696f76;
$brown-grey: #8e8e8e;
$sand-grey: #f3f2f1;
$white: #ffffff;
$blueberry: #603f98;
