// A-Palette
//
// The primary colors for IOTA branding.
//
// $green-primary-1      -  #1e9a93; Green primary 1
// $green-primary-2     -  #20a49d; Green primary 2
// $dark-grey-1       -  #1c1e21; Dark Grey 1
// $dark-grey-2  -  #3f3f3f; Dark Grey 2
// $dark-grey-3      -  #696f76; Dark Grey 3
// $brown-grey      -  #8e8e8e; Brown Grey
// $sand-grey      -  #f3f2f1; Sand Grey
// $white          -  #ffffff; White
// $blue-berry     - #603f98; Blueberry
//
// Styleguide Components.A-Palette


$green-primary-1 : #1e9a93;
$green-primary-2: #20a49d;
$dark-grey-1: #1c1e21;
$dark-grey-2: #3f3f3f;
$dark-grey-3: #696f76;
$brown-grey: #8e8e8e;
$sand-grey: #f3f2f1;
$white: #ffffff;
$blue-berry: #603f98;
