// Project Topics
//
// <b>Please ignore the inline CSS its just for fixing the layout!</b>
//
// Markup: html/project-topics.html
//
// Styleguide Molecules.ProjectTopics

.project__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;

  @include tablet-up {
    margin-bottom: 100px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0 15px;
  border-bottom: 1px solid $brown-grey;

  &:last-child {
    border-bottom: 0;

    @include tablet-up {
      border-bottom: 1px solid $brown-grey;
    }
  }
}

.project__heading {
  margin: 0;
  color: $tealish;
}

.project-topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 35px;
}

.project-topic__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 50px;
  text-decoration: none;

  & .text {
    color: $gunmetal-grey;
  }

  &:visited {
    color: $gunmetal-grey;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(40% + 25px);
    padding-right: 50px;
    padding-bottom: 50px;

    &:nth-child(2n) {
      padding-right: 0;
    }
  }


  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(25% + 25px);
    padding-right: 50px;
    padding-bottom: 50px;

    &:nth-child(3n) {
      padding-right: 0;
    }
  }
}

.project-topic__heading {
  line-height: 2;
}

.project-topic__subheading {
  font-weight: lighter;
  line-height: 2;
  text-align: left;
}

.project-topic__primary-bullet {
  &::before {
    position: relative;
    top: -2px;
    margin-right: 10px;
    color: $blueberry;
    font-family: $font-family-icons;
    font-weight: 800;
    @include font-size(10px);
    content: '\f0c8';
  }
}

.project-topic__secondary-bullet {
  &::before {
    position: relative;
    top: -2px;
    margin-right: 10px;
    color: $tealish;
    font-family: $font-family-icons;
    font-weight: 800;
    @include font-size(10px);
    content: '\f0c8';
  }
}
