// Project Topics
//
// <b>Please ignore the inline CSS its just for fixing the layout!</b>
//
// Markup: html/project-topics.html
//
// Styleguide Molecules.ProjectTopics

.project__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet-up {
    margin-bottom: 100px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0 15px;
  border-bottom: 3px solid $sand-grey;

  &:last-child {
    border-bottom: 0;
  }
}

.project__heading {
  margin: 0;
  color: $tealish;
}

.project__subheading {
  margin-top: 5px;
  margin-bottom: 45px;
  line-height: 2;
}

.project-topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  &::after {
    content: ' ';
    flex: auto;
  }

  .project-topic__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 0 25px 0;

    @include tablet {
      width: 50%;
    }


    @include desktop {
      width: calc(33.33% -  14px);

      &:nth-child(3n+2) {
        margin: 0 21px;
      }
    }


    .project-topic__heading {
      color: $gunmetal-grey;
      font-weight: 600;
      line-height: 2;

      &.project-topic__primary-bullet,
      &.project-topic__secondary-bullet {
        &::before {
          content: ' ';
          display: inline-block;
          position: relative;
          top: -2px;
          width: 8px;
          height: 8px;
          margin-right: 10px;
          background: $blueberry;
        }
      }

      &.project-topic__secondary-bullet {
        &::before {
          background: $tealish;
        }
      }
    }

    .project-topic__subheading {
      padding-right: 36px;
      font-weight: 200;
      line-height: 30px;
    }
  }
}

.project-topics__compressed {
  .project-topic__item {
    flex: 1 0 calc(50% - 30px);
    max-width: 50%;
    margin-right: 20px;
    padding-bottom: 15px;

    &:nth-child(3n+2) {
      margin: 0;
    }

    @include phone-down {
      flex: 1 0 calc(100%);
      max-width: 100%;
    }
  }
}
