// Scroll To Top
//
// Markup: html/scroll-to-top.html
//
// Styleguide Molecules.Scroll To Top

.scroll-to-top {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: $white;
  transform: rotate(90deg);
  cursor: pointer;

  &:focus {
    outline: none;
  }

  i {
    &.icon-chevron-up {
      &::before {
        @extend %icon-chevron-left;
        @include icon(38px);
      }
    }
  }
}