// Scroll To Top
//
// Markup: html/scroll-to-top.html
//
// Styleguide Molecules.Scroll To Top

.scroll-to-top {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  transition: $transition-duration ease;
  transition-property: opacity;
  border: 0;
  border-radius: 5px;
  background-color: $blueberry;
  color: $white;
  line-height: 58px;
  @include font-size(26px);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.scroll-to-top--hidden {
  opacity: 0;

  &:hover {
    opacity: 0;
  }
}
