// Side-menu
//
// Side menu
//
// Markup: html/side-menu.html
//
//
// Styleguide Components.side-menu

$side-menu-top-padding: 20px;
$side-menu-left-padding: 28px;
$side-menu-right-padding: 24px;


.side-menu {
  background-color: $gunmetal-grey;
  height: 100%;
  width: 311px;
}

.side-menu__group {
  margin-bottom: 2px;
  .side-menu__list {
    display: none;
  }
}

.side-menu__group--selected {
  .side-menu__heading {
    color: $tealish;
  }
  .side-menu__list {
    display: block;
  }
}

.side-menu__caption {
  color: $white;
  height: 90px;
  font-size: 24px;
  margin: 0;
  padding: 0 $side-menu-right-padding 0 $side-menu-left-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-menu__heading {
  margin: 0;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
  font-size: 20px;
  padding: 0 $side-menu-right-padding 0 $side-menu-left-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-menu__list {
  color: $white;
  li {
    font-size: 15px;
    padding: 4px 0;
    font-weight: 200;
  }
}
