// Step Progress bar
//
// Various arrow button styles.
//
// Markup: html/step-progress-bar.html
//
// .step-progress-bar-item--visited - Arrow left.
//
// Styleguide Molecules.Step Progress bar

.step-progress-bar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;

  &-item {
    width: 100%;
    height: 10px;
    margin-right: 12px;
    background-color: $light-grey;

    &:last-child {
      margin-right: 0;
    }

    &--visited {
      background-color: $blueberry;
    }
  }
}
