// Sticky Header
//
// This is the home page header.
//
// Markup: html/sticky-header.html
//
// Styleguide Organisms.Sticky Header

.sticky-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
  background: $hero-dark-gradient;

  >a {
    height: 56px;
  }

  @include tablet-down {
    height: 93px;
    padding: 15px 20px 15px 20px;
  }

  .sticky-header__brand {
    width: 167px;
    height: 56px;
    margin-right: 20px;
    transition: opacity $transition-duration ease;
    opacity: 1;
    @include phone-down {
      position: absolute;
      top: 15px;
    }
  }

  .sticky-header__control {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 4px;

    .input-sticky-wrapper {
      &::before {
        top: calc(50% - 12px);
        left: 8px;

        @include font-size(24px);
      }

      .sticky-header__icon-close {
        position: absolute;
        top: 10px;
        right: 0px;
        transition: opacity $transition-duration ease;
        border: 0;
        opacity: 0;
        background: none;
        color: $white;
        cursor: pointer;

        &::before {
          @extend %icon-cross;

          @include icon(14px);

          line-height: 24px;
        }

        &:focus {
          outline: none;
        }

        &:disabled {
          cursor: default;
          pointer-events: none;
        }
      }
    }

    .sticky-header__icon-burger {
      border: 0;
      background: none;
      color: $white;
      cursor: pointer;

      &::before {
        @extend %icon-burger;

        @include icon(24px);
      }

      &:focus {
        outline: none;
      }

      &:hover {
        opacity: 0.5;
      }

      &:disabled {
        cursor: default;
        pointer-events: none;
      }
    }
  }

  &.sticky-header--expanded {
    @include phone-down {
      .sticky-header__brand {
        margin-right: 0px;
        transition: opacity $transition-duration-quick ease;
        opacity: 0;
      }
    }


    .sticky-header__control {
      .input-sticky-wrapper {
        .sticky-header__icon-close {
          opacity: 1;
        }
      }
    }
  }
}
