// Sticky header
//
// This is the home page header.
//
// Markup: html/sticky-header.html
//
// .input-sticky-wrapper--expanded - when the input is expandedf.
//
// Styleguide Organisms.sticky-header

.sticky-header {
  display: block;
  padding: 22px 40px;
  background-color: $tealish;

  .input-sticky-wrapper {
    &.input-sticky-wrapper--expanded {
      margin-right: 0px;
    }
  }

  @include desktop {
    .input-sticky-wrapper {
      &.input-sticky-wrapper--expanded {
        width: 389px;
      }
    }
  }
}

.sticky-header__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky-header__body {
  max-width: $max-width;
  margin: 87px auto 50px auto;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.sticky-header__brand {
  width: 167px;
  height: 56px;
  margin-right: 30px;
}

.sticky-header__control {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 4px;

  .input-sticky-wrapper {
    margin-right: 10px;

    &::before {
      top: calc(50% - 12px);
      left: 8px;
      font-size: x-large;
    }
  }
}

.sticky-header__icon {
  border: 0;
  background: none;
  color: $white;
  cursor: pointer;

  &::before {
    @include icon(🍔, 24px);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}
