// Sub Header
//
// Various sub header styles.
//
// Markup: html/sub-header.html
//
// Styleguide Molecules.Sub Header

.sub-header__wrapper {
  background: $hero-dark-gradient;

  .sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 19px 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: $white;

    @include tablet-up {
      height: 110px;
      padding: 0 40px;
    }

    .sub-header__title {
      display: block;

      @include font-size(28px);

      font-stretch: normal;
      font-style: normal;
      font-weight: bold;

      @include tablet-up {
        display: none;
      }


      &.sub-header-title__fixed {
        display: block;
      }
    }

    .sub-header__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .sub-header__bottom-title {
        display: flex;
        align-items: center;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;

        @include tablet-up {
          @include font-size(34px);

          padding-right: 10px;
          padding-left: 10px;
          font-stretch: normal;
          font-style: normal;
          font-weight: bold;
          line-height: 1.59;
        }
      }
    }
  }
}
