// Sub Header
//
// Various arrow button styles.
//
// Markup: html/sub-header.html
//
// Styleguide Molecules.Sub Header

.sub-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  padding: 16px;
  background-color: $jade;
  color: $white;
}

.sub-header__title {
  @include font-size(28px);
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  @include desktop {
    display: none;
  }
}

.sub-header__bottom-title {
  display: flex;
  align-items: center;
  @include desktop {
    @include font-size(34px);
    font-style: normal;
    font-weight: bold;
    line-height: 1.59;
    font-stretch: normal;
  }
}

.sub-header__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
