// Table
//
// Markup: html/table.html
//
// Styleguide Molecules.Table

@mixin phone-down-style {
  border-left-width: 0px;

  thead,
  .table-head {
    th,
    .table-head-row--item {
      display: none;
    }
  }

  tbody,
  .table-body {
    th,
    .table-body-row--header,
    td,
    .table-body-row--item {
      display: block;
      padding: 0px 8px 0px 8px !important;
      font-size: 1rem !important;
      font-weight: 300;
      line-height: 1.75 !important;
    }

    tr,
    .table-body-row {
      display: block;
      margin-bottom: 10px;
      border-top: 1px solid #ececec;
      border-left: 1px solid #ececec;

      th,
      .table-body-row--header,
      td,
      .table-body-row--item {
        display: flex;

        .table-body-row-item--inline-header {
          display: block;
          flex: 1;
          margin-right: 8px;
          margin-left: -8px;
          padding: 8px;
          overflow: hidden;
          border: 0;
          background-color: $gunmetal-grey;
          color: $white;
          font-family: $font-primary;

          @include font-size(15px);

          font-weight: bold;
          line-height: 1.2;
          text-align: left;
          text-overflow: ellipsis;
        }

        span {
          &:nth-child(2) {
            flex: 3;
            padding-top: 3px;
          }
        }
      }
    }
  }
}

table,
.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;

  thead,
  .table-head {
    vertical-align: top;

    tr,
    .table-head-row {
      th,
      .table-head-row--item {
        padding: 10px 18px 10px 18px;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        background-color: $gunmetal-grey;
        color: $white;

        @include font-size(20px);

        font-weight: bold;
        line-height: 1.5;
      }
    }

    th {
      text-align: left;

      &.table-head-row-item--center {
        text-align: center;
      }

      &.table-head-row-item--right {
        text-align: right;
      }
    }

    .table-head-row {
      display: flex;
    }

    .table-head-row--item {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      justify-content: flex-start;
      overflow: hidden;

      &.table-head-row-item--center {
        justify-content: center;
      }

      &.table-head-row-item--right {
        justify-content: flex-end;
      }
    }
  }

  tbody,
  .table-body {
    vertical-align: top;

    tr,
    .table-body-row {
      &:nth-child(odd) {
        background-color: $white;
      }

      &:nth-child(even) {
        background-color: #f8f8f8;
      }

      th,
      .table-body-row--header {
        padding: 4px 18px 4px 18px;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        color: $blueberry;
        font-family: $font-secondary;

        @include font-size(16px);
        @include word-break;

        font-weight: normal;
        line-height: 1.5;

        .table-body-row-item--inline-header {
          display: none;
        }
      }

      th,
      td {
        text-align: left;

        &.table-body-row-item--center {
          text-align: center;
        }

        &.table-body-row-item--right {
          text-align: right;
        }
      }

      td,
      .table-body-row--item {
        padding: 12px 18px 12px 18px;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        color: $body-copy;

        @include font-size(16px);
        @include word-break;

        font-weight: normal;
        line-height: 1.5;

        .table-body-row-item--inline-header {
          display: none;
        }
      }
    }

    .table-body-row {
      display: flex;
    }

    .table-body-row--header,
    .table-body-row--item {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      justify-content: flex-start;
      overflow: hidden;

      &.table-body-row-item--center {
        justify-content: center;
      }

      &.table-body-row-item--right {
        justify-content: flex-end;
      }
    }
  }

  @include phone-down {
    @include phone-down-style;
  }

  &.table--compact {
    @include phone-down-style;
  }
}
