// Table Of Contents
//
// Markup: html/table-of-contents.html
//
// Styleguide Molecules.Table Of Contents

.table-of-contents {
  .table-of-contents__section-title {
    margin: 0;

    @include font-size(15px);

    color: #3e3e3e;

    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .table-of-contents__section {
    margin-top: 5px;
    margin-bottom: 16px;
    padding: 0px 0px 5px 6px;
    list-style-type: none;

    .table-of-contents-list-item {
      line-height: 1.75rem;

      a {
        color: #3e3e3e;

        @include font-size(15px);

        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: normal;
        text-decoration: underline;

        @include desktop {
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
