// Tabs
//
// Markup: html/tabs.html
//
// Styleguide Molecules.Tabs

.tabs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #ececec;
  border-radius: 0px 0px 5px 5px;
  background-color: #f8f8f8;

  .tab-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    background-color: $gunmetal-grey;

    .tab-header-list {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      .tab-header-item {
        margin: 0px 12px 0px 12px;

        a {
          color: $white;

          @include font-size(17px);

          font-weight: normal;
          text-decoration: none;
          opacity: 0.5;
        }

        &.tab-header-item--selected {
          a {
            font-weight: bold;
            opacity: 1;
          }
        }
      }
    }

    .tab-header-copy {
      margin: 4px;
      padding: 0px 12px 0px 12px;
      border: 0;
      background: none;
      color: $white;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  .tab-container {
    padding: 22px;
  }

  .tab-item {
    display: none;
  }

  .tab-item--selected {
    display: block;
  }
}
