// Tabs
//
// Markup: html/tabs.html
//
// Styleguide Molecules.Tabs

.tabs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #ececec;
  border-radius: 0px 0px 5px 5px;
  background-color: #f8f8f8;

  .tab-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px 8px 12px;
    background-color: $gunmetal-grey;

    .tab-header-list {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      .tab-header-item {
        margin: 0px 12px 0px 12px;

        a {
          opacity: 0.5;
          color: $white;

          @include font-size(17px);

          font-weight: normal;
          text-decoration: underline;

          &:hover {
            opacity: 1;
            text-decoration: underline;
          }

          @include desktop {
            text-decoration: none;
          }
        }

        &.tab-header-item--selected {
          a {
            opacity: 1;
            font-weight: bold;
          }
        }
      }
    }

    .tab-header-copy {
      display: flex;
      align-items: center;
      padding: 0px 12px;

      .tab-header-copy-text {
        width: 55px;
        transition: $transition-duration ease-out;
        transition-property: opacity;
        opacity: 0;
        color: $tealish;
        text-align: right;
      }

      .tab-header-copy-text--active {
        opacity: 1;
      }

      .tab-header-copy-text--failed {
        color: $danger;
      }

      .tab-header-copy-button {
        margin-left: 8px;
        padding: 2px 4px 0;
        border: 0;
        background: none;
        color: $white;
        font-size: 18px;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &::after {
          @include font-size(18px);
        }

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .tab-item {
    display: none;
  }

  .tab-item--selected {
    display: block;
  }
}
