// Text
//
// Various text styles.
//
// Markup: html/text.html
//
// .text--level1 - Level 1.
// .text--level2 - Level 2.
// .text--level3 - Level 3.
// .text--level4 - Level 4.
// .text--level5  - Level 5.
// .text--level6  - Level 6.
// .text--primary - primary color.
// .text--secondary - secondary color.
// .text--tertiary - tertiary color.
// .text--warning - warning color.
// .text--danger - danger color.
// .text--success - success color.
// .text--info - info color.
// .text--primary .text--level3 - Combined primary and level3
// .text--secondary .text--level3 - Combined secondary and level3
// .text--tertiary .text--level3 - Combined tertiary and level 3
//
// Styleguide Atoms.Text

.text {
  color: $dark-grey;
  font-stretch: normal;
  font-style: normal;
}

h1,
.text--level1 {
  margin: 0px 0px 48px 0px;
  @include font-size(32px);
  font-weight: bold;
  line-height: 1.2;
}

h2,
.text--level2 {
  @include font-size(24px);
  font-weight: bold;
  line-height: 1.5;
  margin: 1.45rem 0;

  @include tablet-up {
    margin: 1.75rem 0;
  }
}

h3,
.text--level3 {
  @include font-size(21px);
  font-weight: bold;
  line-height: 1.5;
  margin: 1.25rem 0;

  @include tablet-up {
    margin: 1.75rem 0;
  }
}

h4,
.text--level4 {
  @include font-size(20px);
  font-weight: bold;
  line-height: 2.4;
}

h5,
.text--level5 {
  @include font-size(18px);
  font-weight: normal;
  line-height: 2.67;
}

h6,
.text--level6 {
  @include font-size(17px);
  font-weight: bold;
  line-height: 2.82;
}

.text--primary {
  color: $blueberry;
}

.text--secondary {
  color: $white;
}

.text--tertiary {
  color: $tealish;
}

.text--warning {
  color: $warning;
}

.text--danger {
  color: $danger;
}

.text--success {
  color: $success;
}

.text--info {
  color: $info;
}
