// Text Paragraph
//
// Various paragraph text styles.
//
// Markup: html/text-paragraph.html
//
// Styleguide Atoms.Text Paragraph

p,
.text-paragraph {
  margin-bottom: 1.0625rem;
  color: $body-copy;
  @include font-size(16.8px);
  line-height: 1.75;

  a {
    text-decoration: underline;
  }
}
