// Text Inline
//
// Various inline text styles.
//
// Markup: html/text-inline.html
//
// .text-inline--strong - Color is darker and font weight is strong.
// .text-inline--emphasis - Color is darker.
// .text-inline--bold - Font weight is bold.
// .text-inline--alert - Color is danger.
// .text-inline--italic - Font has italic attribute.
// .text-inline--underline - Text is underlined.
// .text-inline--strikethrough - Text has a line through it.
// .text-inline--small - For fine print.
// .text-inline--quotation - Italic and emphasized.
// .text-inline--code - Font family is used for computer output.
//
// Styleguide Atoms.Text Inline

.text-inline {
  color: $body-copy;
  @include font-size(17px);
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.41;
}

.text-inline--strong {
  color: $black;
  font-weight: 600;
}

.text-inline--emphasis {
  color: $black;
}

.text-inline--bold {
  font-weight: bold;
}

.text-inline--alert {
  color: $danger;
  font-weight: bold;
}

.text-inline--italic {
  font-style: italic;
}

.text-inline--underline {
  text-decoration: underline;
}

.text-inline--strikethrough {
  text-decoration: line-through;
}

.text-inline--small {
  @include font-size(12px);
}

.text-inline--quotation {
  color: $black;
  font-style: italic;
}

.text-inline--code {
  font-family: $font-secondary;
}
