// Text Paragraph
//
// Various paragraph text styles.
//
// Markup: html/text-paragraph.html
//
// Styleguide Atoms.Text Paragraph

p,
.text-paragraph {
  margin-bottom: 1.0625rem;
  color: $body-copy;
  @include font-size(17px);
  line-height: 2;
}
