// top-header
//
// Header styles.
//
// Markup: html/top-header.html
//
// Styleguide Components.top-header

.top-header {
  height: 50px;
}

.top-header__background {
  opacity: 0.1;
  mix-blend-mode: multiply;
  background: linear-gradient(to left, $brown-dark, rgba(255, 255, 255, 0));
  list-style-type: none;
  width: 100%;
  height: 100%
}

.top-header__items {
  display:  flex;
  align-items: center;
  position: absolute;
  top: 17px;
  right: 18px;
}

.top-header__item {
  color: $white;
  padding: 0 15px;
  font-weight: 600;
  @include font-size(12px);
}
