// Topbar
//
// Various Topbar styles.
//
// Markup:
// <header class="topbar {{modifier_class}}"><input type="text" class="input-search {{modifier_class}}" value="Search for topics"/><i class="fas fa-search input-search__icon"></i></header>
//
// .Topbar--small - A small Topbar - this happens when we scroll down
//
// Styleguide Components.Topbar

.topbar {
  background-color: $tealish;
  padding: 16px;
  height: 420px;
}

.topbar--small {
  //font-size: .5em;
}
