// Tree Menu
//
// Home page card styles.
//
// Markup: html/tree-menu.html
//
// Styleguide Molecules.Tree Menu

.tree-menu {
  padding: 0 20px;
}

.tree-menu__section-title {
  margin-bottom: 0;
  color: $gunmetal-grey;

  @include font-size(21px);

  font-style: normal;
  font-weight: 600;
  line-height: 2.06;
  font-stretch: normal;

  a {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-stretch: inherit;
  }
}

.tree-menu__section-title--selected {
  margin-left: -20px;
  padding-left: 20px;
  border-left: 3px solid $tealish;
  color: $tealish;
}

.tree-menu__section {
  margin-top: 8px;
  padding-left: 20px;
  list-style-type: none;
}

.tree-menu__section-item {
  margin: 8px 0;
  border-left: 4px solid transparent;
  line-height: 1.5rem;

  a {
    color: $body-copy;

    @include font-size(15px);

    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    text-decoration: underline;
    font-stretch: normal;

    @include desktop {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.tree-menu__section-item--selected {
  margin-left: -20px;
  padding-left: 20px;
  border-left: 3px solid $tealish;

  a {
    color: $tealish;
    font-weight: 600;
  }
}
