// Tree Menu
//
// Home page card styles.
//
// Markup: html/tree-menu.html
//
// Styleguide Molecules.Tree Menu

.tree-menu {
  padding: 0 18px;

  .tree-menu__section-title {
    margin: 0;
    padding-bottom: 6px;
    color: $body-copy;

    @include font-size(14px);

    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;

    a {
      color: inherit;
      font-size: inherit;
      font-stretch: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  .tree-menu__section {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0px 0px 5px 0px;
    list-style-type: none;

    .tree-menu__section-item {
      margin-bottom: 7px;
      line-height: 1.3;

      &.tree-menu__section-item--selected {
        a {
          color: $tealish;
          font-weight: 600;
        }
      }

      .tree-menu__section-item-superscript {
        position: relative;
        top: -5px;
        @include font-size(10px);
      }

      a {
        color: $body-copy;

        @include font-size(15px);

        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: normal;
        text-decoration: underline;

        @include desktop {
          text-decoration: none;
        }


        &:hover {
          text-decoration: underline;
        }
      }

      .tree-menu__section-item-sub {
        padding: 10px 0px 10px 16px;
        list-style-type: none;

        li {
            line-height: 1.2;
            margin-bottom: 10px;
        }

        .tree-menu__section-item-sub-child {
          a {
            color: $body-copy;
            font-weight: normal;
          }

          &.tree-menu__section-item-sub-child--selected {
            a {
              color: $tealish;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
