//for visibility of some elements
article.kss-section__modifiers {
  background-color: silver;
}
@import 'node_modules/normalize.css/normalize';
@import 'sass/mediaQueries';
@import 'sass/palette';
@import 'sass/globals';
@import 'sass/button';
@import 'sass/link';
@import 'sass/input-search';
@import 'sass/input-register';
@import 'sass/header';
@import 'sass/input-search-sticky';
@import 'sass/text';
@import 'sass/top-header';
@import 'sass/arrow-button';
@import 'sass/card';
@import 'sass/side-menu';
@import 'sass/cards-container';
